<app-header></app-header>
<div class="container">
    <div class="row">
<div><h1>Users</h1></div>
        <table>
            <thead>
                <tr>
                    <td>First Neme </td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>asd</td>
                    <td>asdsa</td>
                    <td>asds</td>
                    <td> <div class="btn">
                        <button type="button">Delete</button>
                      </div></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>