<app-header></app-header>
<div class="container">
    <div class="row">
<div><h1>Users</h1></div>
        <table>
            <thead>
                <tr>
                    <td>First Neme </td>
                    <td>Last Name</td>
                    <td>Email</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @for (item of userData; track $index) {
                <tr >
                  
                        
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td> <div class="btn" >
                            <button [hidden]="item.role =='ADMIN'"  type="button" (click)="deleteTodo(item.id)">Delete</button>
                          </div></td>
                          
                        </tr>
                    }
           
            </tbody>
        </table>
    </div>

</div>