.container{
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: #BFDAFE;
display: flex;
justify-content: center;

}
.container{
    .row{
       width: 50vw; 
        padding: 20px;
    }
}
.btn{
    width: 100%;
    display: flex;
   justify-content: end;
        gap: 10px   ;
} 
.btn button:last-child:hover{
    
    border-bottom: 2px solid #A88BFA;
    
        
    }
    
    .btn button:last-child{
    
        width: 100px;
        height: 40px;
        outline: none;
        border: none;
        background-color: red;
    border-radius: 5px;
    color: white;
    font-size:medium;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    }
    .To-do-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        padding: 20px 10px   ;
        background-color: white;
        border-radius: 10px;
        border-color: #674eae 1px solid;
        min-height: 10vh;
        max-height: fit-content;    
    }